/* STYLING FOR RESUME PAGE */

#resume-container {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    /* margin: 3vw; */
    text-align: center;
    align-items: center;
    justify-items: center;
    grid-template-areas:
        ". . title title . ."
        ". res-pic res-pic key key ."
        ". skills skills languages languages ."
        ". academic academic academic academic ."
        ". prof-back prof-back prof-back prof-back .";
}

#title {
    grid-area: title;
    justify-items: center;
    text-align: center;
    /* background: lightgrey; */
}

.resume-banner {
    height: 25rem;
    width: 80vw;
    background-color: var(--resume-banner-color);
    position: absolute;
    top: 13rem;
    z-index: -1;
    opacity: 0;
    transition: opacity 1s;
}

#resume-pic {
    grid-area: res-pic;
}

#photo {
    width: 30rem;
    border-radius: 50%;
    margin: 0.7rem;
}

body.dark-mode #photo {
    filter: brightness(.85) contrast(1.2);
}

#outer-circle {
    width: 32rem;
    height: 32rem;
    border: 0.3rem solid var(--resume-outer-circle);
    border-radius: 50%;
}

#key {
    grid-area: key;
    max-width: 50vw;
}

#key-back {
    background: var(--darker-secondary-color);
}

#skills {
    grid-area: skills;
}

#skills h2 {
    padding-left: 9rem;
}

.dotted {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1.5rem;
    text-align: right;
}

.dotted h3 {
    color: var(--accent-color);
}

.level img {
    min-width: 1rem;
    max-width: 3rem;
    height: auto;
    margin-top: 0.6rem;
    flex: none;
}

#languages {
    grid-area: languages;
}

#academic {
    grid-area: academic;
}

#professional {
    grid-area: prof-back;
}

.subtopic {
    color: var(--accent-color);
}


.subtopic svg {
    margin-bottom: 0.3rem;
}


/* 20px — 480px: Mobile devices */
@media screen and (max-width: 590px) {
    #resume-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
        text-align: center;
        align-items: center;
        justify-items: center;
        grid-template-areas:
            "title"
            "res-pic"
            "key"
            "skills"
            "languages"
            "academic"
            "prof-back";
    }

    .resume-banner {
        opacity: 0;
    }

    #key {
        color: var(--font-color);
    }

    #skills h2 {
        padding-left: 0rem;
    }

    .dotted {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1.5rem;
        margin-right: 4rem;
    }

    .level {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex: none;
        align-self: center;
    }
}


/* 481px — 768px: iPads, Tablets */
@media screen and (min-width: 591px) {
    #resume-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
        text-align: center;
        align-items: center;
        justify-items: center;
        grid-template-areas:
            "title"
            "res-pic"
            "key"
            "skills"
            "languages"
            "academic"
            "prof-back";
    }

    .resume-banner {
        opacity: 1;
    }

    #skills {
        margin-right: 5rem;
    }

    .dotted {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1.5rem;
    }

    .level {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex: none;
        align-self: center;
    }
}


/* 769px — 1024px: Small screens, laptops */
@media screen and (min-width: 780px) {
    #resume-container {
        display: grid;
        grid-template-rows: repeat(5, auto);
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;
        /* margin: 3vw; */
        text-align: center;
        align-items: center;
        justify-items: center;
        grid-template-areas:
            ". . title title . ."
            ". res-pic res-pic key key ."
            "skills skills skills languages languages ."
            ". academic academic academic academic ."
            ". prof-back prof-back prof-back prof-back .";
    }

    #key {
        color: var(--secondary-color);
        text-shadow: none;
    }

    #skills {
        margin-left: 6rem;
    }

    .dotted {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1.5rem;
    }

    .level {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex: none;
        align-self: center;
    }
}

/* 1025px — 1200px: Desktops, large screens */
@media screen and (min-width: 1025px) {
    #resume-container {
        display: grid;
        grid-template-rows: repeat(5, auto);
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;
        /* margin: 3vw; */
        text-align: center;
        align-items: center;
        justify-items: center;
        grid-template-areas:
            ". . title title . ."
            ". res-pic res-pic key key ."
            ". skills skills languages languages ."
            ". academic academic academic academic ."
            ". prof-back prof-back prof-back prof-back .";
    }

    #skills {
        margin-left: 6rem;
    }

    .dotted {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1.5rem;
    }

    .level {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex: none;
        align-self: center;
    }
}


